<% layout( 'layout' ) -%>


<script>
$(document).ready (function () {  
	$.get('/json/images/by-pattern/<%=: items.name | replace:/-/g,' '  %>', function(data){
		$.each(data, function(i, val){ 
			var image = $('<img />')
				.attr('src', val.url)
				.attr('alt', val.filename);
			var link = $('<a></a>')
				.attr('href','#')
				.addClass('thumbnail')
				.append(image);
			var div = $('<div></div>')
				.append($('<h4></h4>').html('#'+(i+1)+': '+val.portal)) 	
				.append(link)
				.append($('<span></span>').html(val.caption))
				;
			$('.evidence')
				.append(div);
				
		});
	});	
	
	$.get('/json/portals/patterns/<%=: items.name | replace:/-/g,' ' %>', function(data){ 
		$.each(data, function(i, val){ 
			$('#pattern_known_uses').append('<li><a href="/portals/view/'+ val._id +'">'+ val.name +'</a></li>')
		});
	});
	
	
});	
</script>


  <!-- Main component for a primary marketing message or call to action -->

<br><br><br>
<div class="col-md-8 portfolio-item" id="<%=: items.name | replace:/\ /g,'-'  %>">
	<div class="panel">
		<div class="panel-heading">
			<h4>
				<%= items.name %>
				<% if(items.confidence==1){  %>*<% } %>
				<% if(items.confidence==2){  %>**<% } %>	
				<% if(items.confidence==3){  %>***<% } %>
			</h4>
			<% if(items.illustration != undefined){  %><img class="pattern-illustration"src="<%= items.illustration %>"/><% } %>
		</div>	
		<div class="panel-body">
			<div class="context mark"><%= items.context  %>
			</div>
			<div class="sep" hidden class="text-center pagination-centered">
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
			</div>
			<div class="problem" style="font-weight:bold;">
			<%=: items.problem | replace:'\n','' %>
			</div>
			<div class="forces mark"><%= items.forces %></div>
			<div class="solution" style="font-weight:bold;"><%= items.solution %></div>
			<div class="consequences mark"><%= items.consequences %></div>
			<div class="examples">
			<!--<% if (items.evidence != undefined) { %>
				<% items.evidence.forEach( function ( example ){ %>
					<div class="col-md-6" style="position:absolut; bottom:0">
       			<img	style="max-height:300px; max-width:100%;" src="/vi-lab/img/screenshots/<%= example.example %>"/><br> 
       			<span class="mark"><%= example.rational %></span>
    			</div>
					
				<% }); %>
			<% }; %>	-->
			</div>
			
		</div>
		
		<div class="panel-footer" hidden>
		<!-- add comments -->
		<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Comments <span class="badge">42</span>
			</a><br><br>
		<div class="collapse" id="collapseExample">
			<div class="">
				<span hidden class="right glyphicon glyphicon-comment" aria-hidden="true"></span> 
			</div>
		<!-- add new comment -->	
		</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Comment this learning environment" aria-describedby="basic-addon2">
					<span class="input-group-btn">
        <button class="btn btn-default" type="button">send</button>
      </span>
				</div>
			</div>
			
	<div class="col-md-12 evidence">
		<div class="spacer200"></div>
	</div> 	
		
	</div>
</div>	

<div class="col-md-4">
	<div class="spacer200"></div>
	<a class="button" href="/<%= items._id %>" title="Add pattern to favorites"> 				
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add to favorites
	</a><br>
	<a class="button" href="/patterns/edit/<%=: items.name | replace:/\ /g,'-'  %>" title="Update this item item"> 				
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		Edit
	</a>
	<br><br>
	<% if (items.related_patterns != undefined) { %>
	<label>Related Patterns:</label>
	<ul id="pattern_related">
		<% items.related_patterns.forEach( function ( related ){ %>
			<li><a href="/patterns/view/<%= related._id %>"><%= related.label %></a></li>
		<% }); %>	
	</ul>
	<% } %>		
	<label>Known Uses:</label>
	<ul id="pattern_known_uses"></ul>
		
	</div>


	

